.DS_Store

.config/clash
.config/clash_win
.config/exercism
.config/wireshark
.config/nvim/plugins
.config/nvim/colors/base16-*.vim
.config/nvim/temp_dirs/*
.config/gtk-3.0
.config/Electron
.config/Code
.config/Code - OSS
.config/dconf
.config/fcitx
.config/google-chrome
.config/libfm
.config/pcmanfm
.config/nitrogen
.config/ibus
.config/netease-cloud-music
.config/cef_user_data
.config/Kingsoft
.config/kingsoft
.config/htop
.config/pulse
.config/font-manager

.config/mimeapps.list
.config/QtProject.conf
