.DS_Store

config/autostart
config/BraveSoftware
config/cef_user_data
config/clash
config/clash_win
config/Code
config/Code - OSS
config/dconf
config/docker
config/Electron
config/elm
config/exercism
config/fcitx
config/font-manager
config/git
config/google-chrome
config/gtk-3.0
config/gtk-2.0
config/htop
config/ibus
config/ipython
config/jupyter
config/Kingsoft
config/kingsoft
config/LarkShell
config/libfm
config/listen1
config/lnav
config/mimeapps.list
config/netease-cloud-music
config/nitrogen
config/pcmanfm
config/peazip
config/pulse
config/QtProject.conf
config/wakatime
config/wireshark
config/zsh/.zcompdump*
config/zsh/tmux*
config/zsh/.zsh_sessions

