.DS_Store

config/autostart
config/betterlockscreen
config/bottom
config/cef_user_data
config/citra*
config/clash*
config/Code*
config/cagent
config/dconf
config/[d|D]ocker*
config/Electron
config/fcitx*
config/fontconfig
config/font-manager
config/gdb
config/GIMP
config/gh
config/[g|G]it*
config/glow
config/go
config/google-chrome*
config/gtk*
config/hardinfo*
config/htop
config/ibus
config/IJHack
config/ipython
config/ironbar/schema.json
config/jupyter
config/[k|K]ingsoft
config/libfm
config/lnav
config/LyX
config/microsoft-edge*
config/mihomo-party
config/netease-cloud-music*
config/nitrogen
config/pcmanfm
config/peazip
config/pulse
config/QQ
config/servo
config/Slack
config/subversion
config/systemd/*/*.wants
config/Termius
config/volumeicon
config/wakatime
config/wireshark
config/zsh/.zcompdump*
config/zsh/tmux*
config/zsh/.zsh_sessions

config/mimeapps.list
config/user-dirs*
config/QtProject.conf
